<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.xworkz.tourism" />



	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/resources/app.properties"></property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/view/addplace/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
		
	<bean id="dmds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${datasource.driver.class}"></property>
		<property name="url" value="${datasource.url}"></property>
		<property name="username" value="${datasource.username}"></property>
		<property name="password" value="${datasource.password}"></property>
	</bean>

	<bean id="localSessionFactoryBean"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dmds"></property>
		<property name="annotatedClasses">
			<list>
				<value>com.xworkz.tourism.entity.addpalce.AddPlaceEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">${hibernate.prop.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.prop.ddl}</prop>
			</props>
		</property>
	</bean>

	
	
	

</beans>